/* src/Footer.css */
.footer {
    background-color:#05d8c3;  /* Deep blue-gray footer */
    color: #ecf0f1; /* Light text */
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 97vw;
    font-size: 14px;
}

.footer a {
    color: #dfe6e9;
    text-decoration: none;
}

.footer a:hover {
    color: #f39c12; /* Bright accent color on hover */
}

.footer p {
    margin: 10px 0 0;
}
