<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Template</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em 0;
        }

        nav {
            background-color: #444;
            color: white;
            overflow: hidden;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        main {
            flex: 1;
            padding: 20px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        .content {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 18px;
        }

        button {
            border-radius: 10px;
            color: white;
            background-color: #b15de9;
        }

        button:hover {
            font-size: large;
        }
    </style>
</head>

<body>

    <header>
        <h1>Welcome to <%= siteName %>
        </h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main>
        <div class="content">
            CLICK ON BUTTON TO ENTER THE RANDOM DATA :
        </div>
        <div class="button"><button>Click me </button></div>
    </main>

    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>


    <script>


        document.querySelector(".button>button").addEventListener('click', async () => {
            console.log("button clicked")

            let a = fetch("/generate")
            let r = await a.json()
            console.log(r)

        })

    </script>

</body>

</html>